.page-not-found__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
}

.page-not-found {
  color: var(--dark-gray);
  font-size: 25px;
  text-align: center;
}

.page-not-found__url {
  margin-top: 15px;
  border-radius: 10px;
  padding: 5px 10px;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  color: var(--light-gray);
  background-color: var(--global-color-tertiery);
}

.page-not-found__title {
  font-size: 90px;
  color: var(--global-color-secondary);
  line-height: 0.8;
}

.page-not-found__subtitle {
  font-size: 50px;
  color: var(--global-color-secondary);
}

.clipboard {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}

.clipboard:hover {
  background-color: var(--coral);
}

.clipboard-tooltip {
  width: 30px;
  height: 30px;
}
