:root {
  --white: #ffffff;
  --beige: #fffcf2;
  --light-gray: #ebebeb;
  --medium-gray: #918f8d;
  --dark-gray: #2b2b2c;
  --coral: #fe9087;
  --blue: #1875ff;
  --green: #218838;
  --coral-light: rgba(254, 144, 135, 0.1);
  --red: #d23535;
  --global-color-secondary: #0f2d45;
  --global-color-tertiery: #3c5366a8;
}
